// typeface
$body-font: 'muli', sans-serif;

// color
$light-gray: #DDE2FF;
$gray: #A4A6B3;
$dark-gray: #363740;
$bg-color: #F7F8FC;
$black: #252733;


// mobile

// mobile design
// https://www.figma.com/design/vNzlbGpi5Ld3SgC459xpsk/Admin-Dashboard-UI-Demo-Preview--Screenshots-only---purchase-for-access-?node-id=0-1&p=f&t=5KWgv79YfXIUzrBj-0

/* header */ 
header {
    height: 100px;
}

/* side bar */


/* nav bar */
.navbar {
    padding: 17px;
    width: 100%;

    .navbar-nav {
        li {
            a {
                color: #C5C7CD;

                #user-name {
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 20px;
                    letter-spacing: 0.2px;
                    text-align: right;
                }
            }

            #notification {
                position: relative;

                .fa-circle {
                    position: absolute;
                    left: 10px;
                    top: 3px;
                }
            }
        }

        .vl {
            margin: auto 32px;

            border-left: 1px solid $light-gray;
            height: 24px;
        }
    }
}

.navbar-brand {
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0.3px;

    color: $black;
}

// #account {
//     display: none;
// }



// desktop
@media screen and (min-width: 651px) {

    body {
        background-color: $bg-color;
    }


    /* header */
    header {
    height: 106px;
    }


    /* side bar */
    #side-bar {
        width: 255px;
        height: 100vh;

        position: fixed;
        top: 0;

        background-color: $dark-gray;
        color: $gray;

        #logo {
            height: 106px;
            color: $gray;
            
            span {
                font-weight: 700;
                font-size: 19px;
                letter-spacing: 0.4px;
                opacity: 0.7;
            }
        }
    }

    .nav-link {
        width: 100%;
        height: 56px;

        font-weight: 400;
        font-size: 16px;
        letter-spacing: 0.2px;
        line-height: 110%;

        color: $gray;

        i {
            font-size: 16px;
        }

        span {
            width: 159px;
            height: 20px;
        }

        .fa-gear,
        .fa-award {
            font-size: 15px;
        }
    }

    .nav-link:hover {
        color: $light-gray;
    }

    .active {
        background-color: rgba(159, 162, 180, 0.08);
        border-left: 3px solid $light-gray;
        color: $light-gray;
    }


    /* nav bar */
    .navbar {
        width: calc(100% - 255px);
        margin-left: 255px;
        padding: 30px;

        .navbar-nav {
            li {
                a {
                    color: #C5C7CD;

                    #user-name {
                        font-weight: 600;
                        font-size: 14px;
                        line-height: 20px;
                        letter-spacing: 0.2px;
                        text-align: right;
                    }
                }

                #notification {
                    position: relative;

                    .fa-circle {
                        position: absolute;
                        left: 10px;
                        top: 3px;
                    }
                }
            }

            .vl {
                margin: auto 32px;

                border-left: 1px solid $light-gray;
                height: 32px;
            }
        }

    }

    .navbar-brand {
        font-weight: 700;
        font-size: 24px;
        line-height: 100%;
        letter-spacing: 0.3px;

        color: $black;
    }
}
