/* main */
.container {
    margin: 0;
}

.container > div {
    margin: auto 0;
}

/* statistics */
#statistics > div > .col {
    background-color: white;
    border: 1px solid #DFE0EB;
    border-radius: 8px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    transition: all 0.2s ease-in-out;
}

#statistics > div > .col > h3 {
    margin-bottom: 12px;

    font-weight: 700;
    font-size: 19px;
    line-height: 100%;
    letter-spacing: 0.4px;
    color: #9FA2B4;

    transition: all 0.2s ease-in-out;
}

#statistics > div > .col > p {
    margin: 0;

    font-weight: 700;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 1px;
    color: #252733;

    transition: all 0.2s ease-in-out;
}

#statistics > div > .col:hover {
    border: 1px solid #3751FF;
    cursor: pointer;
}

#statistics > div > .col:hover .child {
    color: #3751FF;
}


/* today's trend */
#today-trend {
    background-color: white;
    border: 1px solid #DFE0EB;
    border-radius: 8px;
    padding: 0;
    margin: 30px auto;
}

.line-chart {
    z-index: 5;
}

.col-8 {
    border-right: 1px solid #DFE0EB;
}

.col-8 > p {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.1px;
    color: #9FA2B4;
}

.col-4 > div {
    margin: 0;
    border-bottom: 1px solid #DFE0EB;

    width: 100%;
    height: calc(546px / 5);
}

.col-4 > div > h4 {
    margin-bottom: 6px;

    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.3px;
    text-align: center;
    color: #9FA2B4;
}

.col-4 > div > p {
    margin: 0;

    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0.3px;
    color: #252733;
}


/* tickets & tasks */
#unresolved-tickets,
#tasks {
    background-color: white;
    border: 1px solid #DFE0EB;
    border-radius: 8px;
    padding: 32px;
    padding-bottom: 0;
}

#unresolved-tickets > hr,
#tasks > hr {
    background-color: #DFE0EB;
    width: calc(100% + 64px);
    height: 1px;
    margin: 0;
    margin-left: -32px;
}

h5 {
    font-weight: 700;
    font-size: 19px;
    line-height: 100%;
    letter-spacing: 0.4px;
    color: #252733;
}

#title-title > button,
#task > button {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    text-align: right;
    text-decoration: none;
    color: #3751FF;
}

#title-group > p,
#task > p {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.1px;
    color: #9FA2B4;
}

#title-group > p > span {
    font-weight: 600;
    line-height: 100%;
    color: #4B506D;
}

.tickets-content,
.tasks-content {
    height: 58px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
}

.tickets-content > p {
    margin: 0;
    color: #252733;
}

.tickets-content > span {
    text-align: right;
    color: #9FA2B4;
}

.tasks-content > button {
    width: 24px;
    height: 24px;
    border-radius: 8px;
    background-color: #F0F1F7;

    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: 700;
    font-size: 11px;
    line-height: 100%;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: #9FA2B4;
}

.tasks-content > p {
    margin: 0;
    color: #C5C7CD;
}

#create-btn {
    padding-bottom: 10px;
    font-weight: 500;
    font-size: 25px;
}

.form-check {
    margin: 0;
    height: 20px;
    display: flex;
    align-items: center;
}

#tasks-check {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    border: 2px solid #C5C7CD;
    margin-right: 16px;
    margin-bottom: 2px;
}

#tasks-check:checked {
    background-color: #3751FF;
    width: 20px;
    height: 20px;
    border: none;
}

.form-check-label {
    margin: 0;

    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #252733;
}

#urgent-btn {
    width: 74px;
    background-color: #FEC400;
    color: white;
}

#new-btn {
    width: 54px;
    background-color: #29CC97;
    color: white;
}

#default-btn {
    width: 76px;
}