body {
    font-family: "muli", sans-serif;
    font-style: normal;
}

#side-bar {
    height: 100%;

    background-color: #363740;
    color: #A4A6B3;
}

#logo {
    color: #A4A6B3;
}

#logo > span {
    font-weight: 700;
    font-size: 19px;
    opacity: 0.7;
}

li {
    color: #A4A6B3;
}